<h2 class="page-header">Add Listing</h2>
<form (submit)="onAddSubmit()">

  <div class="form-group">
    <img [src]="src" [hidden]="!src"><br>
      <input id="image"
      name="image"
       type="file" image-upload
      (imageSelected)="selected($event)"
        [resizeOptions]="resizeOptions"
        [(ngModel)]="image" required>
        <br>
  </div>

  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" [(ngModel)]="title" name="title" required>
  </div>

  <div class="form-group">
    <label>description</label>
    <input class="form-control" type="text" [(ngModel)]="description" name="description" required>
  </div>
  <br>
  <div class="form-group">
    <div class="container">
      <label>Price:</label>
      <i class="material-icons">attach_money</i>
      <input style="width:20%;" type="number" [(ngModel)]="price" name="price" required>
    </div>
  </div>
  <div class="form-group">
    <div class="container">
      <label>Original:</label>
      <i class="material-icons">attach_money</i>
      <input style="width:20%;" type="text" [(ngModel)]="oldprice" name="oldprice">
      <input style="float: right;" type="submit" value="submit" class="btn btn-success">
    </div>
  </div>
  <br>
</form>


<!-- <form class="form-horizontal" role="form" (submit)="onAddSubmit()">
   <div class="well well-lg col-md-8">
     <legend>File Upload: New items to let go</legend>

      <div class="form-group">
        <div class="col-md-6">
          <label for="images">Image Upload:</label>
          <input type="file" id="image" name="image" [(ngModel)]="image"/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-4">
          <label for="inputItem" class="control-label">Item:</label>
          <input class="form-control" id="inputItem" placeholder="Ex: Pen" [(ngModel)]="item" required>
        </div>
      <!-- </div> -->
      <!-- <div class="form-group"> -->
        <!-- <div class="col-sm-4">
          <label for="inputPrice" class="control-label">Price:</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input class="form-control" id="inputPrice" placeholder="Ex: 20" [(ngModel)]="price" required>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-8">
          <label for="inputDescription" class="control-label">Descriptions:</label>
          <input class="form-control" id="inputDescription" placeholder="Item is clean" [(ngModel)]="descriptions" required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-8">
          <button style="float: right;" type="submit" class="btn btn-success">Add</button>
        </div>
      </div>
    </div>
  </form> -->
