#userimg {
  margin-top:15px;
  width:35px;
  height:35px;
  border-radius: 17.5px;
  border: 1px solid;
}

.dropdown-icon {
  padding-left: 10px;
}

.dropdown-item {
  /*border-right: 1px solid gray;*/
  padding-right: 10px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.navbar-right {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 10px;
}
