<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">
        <span>Sh<i class="material-icons md-18">store</i>wn's</span>
      </a>
    </div>

    <ul class="nav navbar-nav">
          <li class="dropdown" *ngIf="(af.auth | async)">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="material-icons">menu</i>
            </a>
            <ul class="dropdown-menu">
              <li [routerLink]="['/add-listing']">
                <button md-button>
                  <span class="dropdown-item">Add things to sell</span> <i class="material-icons dropdown-icon">add </i>
                </button>
              </li>
              <li>
                <button md-button disabled>
                  <span class="dropdown-item">Manage items - @TODO</span>
                </button>
              </li>
              <li>
                <button md-button disabled>
                  <span class="dropdown-item">BossmodeView-@TODO</span>
                </button>
              </li>
            </ul>
          </li>
    </ul>

    <div class="collapse navbar-collapse">
      <form class="navbar-form navbar-right" role="search">
        <button *ngIf="(af.auth | async)" (click)="logout()" type="submit" class="btn btn-danger">logout</button>
      </form>
      <ul *ngIf="(af.auth | async)" class="nav navbar-nav navbar-right">
          <li><p class="navbar-text">Welcome back, {{displayName}}</p> <img id="userimg" src="{{userImg}}" alt=""></li>
      </ul>
    </div>
  </div>
</nav>
