/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

#products {
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: auto;
  max-width: 940px;
  /*padding-left: 0px;
  padding-right: 0px;*/
}
